
<div class="ui text container">
 
  <% @posts.each do |post| %>
   <div class="box">
    <h4> <%= post.title %> </h4> 
      
    <p> <%= post.body %></p>   
      <%= link_to "Show", post %>
      <%= link_to "Edit", edit_post_url(post)%>
      <%= link_to "Destroy", delete_post_path(post),
      method: :delete, data: {
          confirm: "Are you sure want to delete this"
      }
      %>
      </div>                     
<% end %>
</div>
