
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
  </head>
  <body>
    <div class="container">
         <h1> Showing Posts <h1>
          <h3> <%= @post.title %> </h3>
          <p><%= @post.body %></p>

          <%= link_to "All post", posts_path %>
            <%= link_to "Edit", edit_post_url(@post) %>
          <%= link_to "Destroy", delete_post_path(@post), 
            method: :delete
          %>
    </div>
  </body>
</html>